/*Landing Page*/

body {
  font-family: Gill sans;
  margin-bottom: 8%;
}

.intro{
  border: 2px dotted red;
  max-width: 80%;
  margin: auto;
}

.sticker{
  background-color: red;
  color: white;
  max-width: 35%;
  font-size: 1.4em;
  margin: auto;
}

.get-started{
  border: 2px solid red;
  text-decoration: none;
  color: red;
  text-align: center;
}

.get-started:hover{
  background-color: red;
  color: black;
}

.home-explanation h2, .home-explanation h3, .home-explanation p, .schema-explanation h2, .center-align {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.how-to{
  margin-bottom: 10px;
}

.how-to a{
  text-decoration: none;
}

.how-to a:hover{
  text-decoration: underline;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 350px;
  max-width: 15%;
  margin: auto;
}

/*Index Page*/

.addtable{
  margin: 0px 50px;
  padding: 10px;
  border: 2px solid black;
}

.margin-left, table {
  margin-left: 50px;
}

table {
  margin: auto;
}

table tr {
  text-align: center;
}

.tab-main{
    border: 1px solid red;
    color: white;
    background-color: red;
    border-collapse: collapse;
    font-size: 0.9em;
}

.tab-vals{
  font-size: 0.6em;
  border: 1px solid gray;
  background-color: gray;
}

.item-main{
  background-color: #FFE4E1
}

.table-name {
  font-size: 1.5em;
  color: red;
  margin-bottom: 0px;
}

th, td {
    padding: 5px;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #a52a2a);
  background: -webkit-linear-gradient(#fff, #a52a2a);
  background: -o-linear-gradient(#fff, #a52a2a);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: red; }

.add-rel {
  border: 2px solid black;
  background-color: white;
  max-width: 40%;
  padding: 1px;
  margin: auto;
  text-align: center;
}

.add-rel:hover{
  background-color: gray;
}

.get-code-center{
  text-align: center;
}

.get-code{
  background-color: maroon;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.get-code:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.moretables {
  max-width: 80%;
  margin: auto;
}

.submit-tables{
  background-color: red;
}

.another-col {
  text-decoration: none;
  border: 2px solid black;
  background-color: gray;
  color: white;
  padding: 5px;
}

.another-col:hover{
  color: black;
  background-color: white;
}

.schema-explanation{
  margin-bottom: 10px;
}

.center-button{
  align-content: center;
  margin: auto;
  text-align: center;
}

.another-tab{
  margin-top: 4%;
  text-decoration: none;
  border: 2px solid red;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 1.1em;
}

.another-tab:hover{
  color: red;
  background-color: white;
}

.remove-margin{
  margin: 0px 0px 10px 0px;
}

.remove-margin-bottom{
  margin-bottom: 0px;
}

.remove-margin-top{
  margin-top: 0px;
}

.edit-delete{
  font-size: 0.7em;
}

.edit-table{
  text-decoration: underline;
  color: blue;
}

/*Code page*/

.codepage {
  margin-left: 50px;
}

.models-view, .migrations-view {
  background-color: #FFE4E1;
  max-width: 70%;
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.get-short{
  color: red;
}

.get-short:hover, .fake-link:hover{
  text-decoration: underline;
}

.short-url, .fake-link{
  color: blue;
}

