.explanation h2, .explanation h3, .explanation p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 350px;
}



