<div class="home-explanation">
  <h2>How to use actvrcrd.ly</h2>
  <h6 class="center-align"><a href="/">Homepage</a>&nbsp;|&nbsp;<a href="/<%=@random%>">Get Started</a></h6>

  <h3 style="margin: 0px;">Confused where to start with active record?</h3>
  <h3 style="margin: 0px;">This tool?</h3>
  <h3 style="margin: 0px;">Basketball?</h3>
  <h3 style="margin: 0px;">This guide will help you (except with basketball)</h3>

  <div class="center-align"><img class="sbpete" src="/images/sbpete.jpg"></div>

  

</div>
