<div class="container">
<div class="navbar-fixed">
   <nav>

     <div class="nav-wrapper deep-orange accent-2">
       <a href="/posts" class="brand-logo">-->Scum Overflow</a>

       <ul class="right hide-on-med-and-down">
         <li><a href="/user<%=@id%>">Profile</a></li>
         <li><a href="/logout">Logout</a></li>
       </ul>
     </div>
   </nav>
 </div>

<!-- Modal trigger  -->

<div class="ask-btn">
  <a class="modal-trigger waves-effect waves-light btn deep-orange accent-2 hover" href="#modal3"><i class="material-icons left">note_add</i>Ask a question</a>
</div>

<!-- Modal form -->

<div id="modal3" class="modal modal-fixed-footer">
  <div class="modal-content" id="new-ask-form-container">
    <h4>Ask your question!</h4>
    <div class="row">
      <form method="POST" action="/posts" class="col s12" id="ask-question-form">
        <div class="row">
          <div class="input-field col s6">
            <input length="40" id="title" type="text" name="title" required>
            <label for="title">Title</label>
          </div>
          <div class="input-field col s12">
            <input length="400" id="content" type="text"  name="content" required>
            <label for="content">Content</label>
          </div>
        </div>
      </div>
    </div>

        <div class="modal-footer">
          <button class="btn waves-effect waves-light deep-orange" type="submit" name="action">Submit
            <i class="material-icons right"></i>
          </button>
        </div>
      </form>
  </div>
</div>


<div class="question-list">
  <% @questions.each do |question| %>
  <div class="collection deep-orange accent-3">
    <a href="/posts/<%= question.id %>" class="collection-item"><%= question.title %></a>
  </div>
  <% end %>
</div>
</div>
