<div class="schema-explanation">
  <h2>Design your schema</h2>
  <h6 class="center-align"><a href="/">Home</a></h6>

  <h4 class="center-align"><a onclick="openModal()">Get your code</a></h4>

    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h3>Before you get your code ...</h3>
        <p>We need to know how your tables relate to each other.</p>

        <div class="relation-items">
        </div>

        <p class="add-rel"><a href="#">Add another relationship</a></p>
      </div>
    </div>

  <p class="center-align">Fill out the form below to create your table:</p>

  <div class="moretables">
    <form class="addtable at-active" method="POST" action="/<%=@id%>">
      <p>Table name (e.g., Users, Votes --> keep it simple and keep it plural):</p>
      <p><input type="text" name="tablename"></p>
      <p>NOTE: an ID (integer) will automatically be generated with each table</p>
      
      <p><input class="submit-tables" type="submit" value="Submit Table"></p>
      
      <p><a class="another-col" href="#">Add another column</a></p>
      <div class="morecolumns">
        <p>Enter a column header and type:</p>
        <input class="header" type="text" name="1-header">
        <select name="1-type">
          <option value="integer">Integer</option>
          <option value="text">Text</option>
          <option value="datetime">Datetime</option>
        </select>
        <label><input type="checkbox" id="foreignkey" value="1" name="1-foreignkey">foreign key?</label>
        <label><input type="checkbox" id="presence" value="1" name="1-presence">presence required?</label>
        <label><input type="checkbox" id="unique" value="1" name="1-unique">unique required?</label>
      </div>
    </form>
  </div>
  
  <p><a href="#"><input class="another-tab" type="submit" value="Create another table"></a></p>

</div>
