<div class="home-explanation">
  <h2>Welcome to actvrcrd.ly</h2>
  <p>From the&nbsp<a href="http://guides.rubyonrails.org/active_record_basics.html"> Rails Guide regarding Active Record</a>:</p>
  <p><em>Active Record is the M in MVC - the model - which is the layer of the system responsible for representing business data and logic.</em></p>
  <p>In other words Active Record is useful for creating tables and models for the date you're using to run, populate, and build your web application. Unfortunately, Active Record magic requires very specific syntax. Often, translating a schema you've built into the models and migrations with this syntax can pose problems (you forget an association or didn't name your table the right thing).</p> 
  <p>This tool will solve these syntax hiccups for you</p>
  <h3>You build your schema</h3> 
  <h3> ---- </h3>
  <h3> We give you your Ruby code for your models and migrations in Active Record</h3>
  <p>To get started, click the button below and build your first schema. Once you submit it, we will give you your code!</p>

  <a class="waves-effect waves-light red btn get-started">Get Started</a>

</div>

<div class="schema-explanation">
  <h2>Design your schema</h2>
  <p>Press the button below to create your first table:</p>

    <!-- Modal Trigger -->
  <a class="waves-effect waves-light red btn modal-trigger" href="#modal1">Create a new table</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Create a new table</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

</div>

