<div class="home-explanation">
  <h2>Welcome to actvrcrd.ly</h2>
  <div class="intro"><p>From the&nbsp;<a href="http://guides.rubyonrails.org/active_record_basics.html"> Rails Guide regarding Active Record</a>:</p>
  <p><em>Active Record is the M in MVC - the model - which is the layer of the system responsible for representing business data and logic.</em></p>
  <p>In other words Active Record is useful for creating tables and models for the data you're using to run, populate, and build your web application. Unfortunately, Active Record magic requires very specific syntax. Often, translating a schema you've built into the models and migrations with this syntax can pose problems (you forget an association, didn't name your table the right thing, etc). These hiccups really stink when they are all that stand between you and your glorious project.</p> 
  </div>
  <div class="sticker"><p>This tool will help!</p></div>
  <h3>You build your schema => I give you your model and migration code</h3>
  <p>To get started, click the button below and build your first schema. Once you submit it, I will give you your code!</p>

  <a class="get-started btn" href="/<%=@random%>">Get Started</a>

</div>