<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/application.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>actvrcrd.ly</title>
    </head>

    <body>
      <!--Import jQuery-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
      <script type="text/javascript" src="js/application.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

      <script id="table-diagram" type="x-tmpl-mustache">
        <p class="margin-left table-name">{{tablename}}</p>
        <table>
         <tr><th>Name</th><th>Category</th><th>Presence?</th><th>Unique?</th><th>Foreign_key?</th></tr>
          {{#tablearray}}
            <tr>
              <td>{{name}}</td>
              <td>{{category}}</td>
              <td>{{presence?}}</td>
              <td>{{unique?}}</td>
              <td>{{foreignkey?}}</td>
            </tr>
          {{/tablearray}}
        </table>
      </script>

      <script id="morecols" type="x-tmpl-mustache">
        <p>Enter a column header and type:</p>
          <input class="header" type="text" name="{{index}}-header"> 
          <select name="{{index}}-type">
            <option value="integer">Integer</option>
            <option value="text">Text</option>
            <option value="datetime">Datetime</option>
          </select>
          <label><input type="checkbox" id="foreignkey" value="1" name="{{index}}-foreignkey">foreign key?</label>
          <label><input type="checkbox" id="presence" value="1" name="{{index}}-presence">presence required?</label>
          <label><input type="checkbox" id="unique" value="1" name="{{index}}-unique">unique required?</label>
      </script>

      <script id="relation" type="x-tmpl-mustache">
          <select name="1-origin">
            {{#tables}}
            <option value="{{name}}">{{name}}</option>
            {{/tables}}
          </select>

          <select name="1-rel">
            <option value="has_one">has one</option>
            <option value="has_many">has many</option>
          </select>

          <select name="1-target">
            {{#tables}}
            <option value="{{name}}">{{name}}</option>
            {{/tables}}
          </select>
      </script>

      <%= yield %>
    </body>



  </html>